name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    # 1. Configurar o JDK
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    
    # 2. Conceder permissão de execução ao Maven Wrapper
    - name: Grant execute permission for mvnw
      run: chmod +x mvnw
      
    # 3. Executar Testes Unitários e de Integração
    # O comando 'clean test' executa todos os testes
    - name: Build and Test with Maven
      run: mvn --batch-mode clean test
      
    # Opcional: Se quiser que ele gere o JAR no workflow, adicione o comando 'install'
    #- name: Package with Maven
    #  run: mvn --batch-mode package --no-transfer-progress
